/* =============
    Base
============= */
.css-grid{
    header{
        display: grid;
        grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    
    Div{ 
        grid-area: header;
    }
    
}
}
